.joinbg {
    height: 820px;
    width: 100%;
    background-image: url(../img/bgimage-15.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;


    @include extralargebig() {
        height: 665px;
    }


    @include large() {
        height: 590px;
    }



    @include mediumsize() {
        height: 438px;
    }



    .heroarea {
        position: absolute;
        top: 300px;
        right: 15%;
        z-index: 5;
        text-shadow: 1px 1px 0 #fbf9f7, -1px -1px 0 #fbf9f7;

        @include extraextralarge() {
            top: 260px;
            right: 20%;
        }

        @include extralargebig() {

            right: 10%;
        }





    }

}

.joinlist {
    li {
        border-radius: 10px;
    }


}

.joinform {
    border: 3px dashed #F6D470;
    border-radius: 30px;
    background-color: #ffffff;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .joinitem {
        margin: 0 auto;
    }
}

.joinad{
    background-color: #ffffff;
}



.form-check .form-check-input {
    float: none;

}